@use "../abstracts/" as *;

body {
  @include breakpoint(toRem(768px)) {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #ecf2ff;
  }
}

:is(a, button, input, textarea, select, details, summary) {
  &:focus-visible {
    outline: hsl(243, 87%, 12%) dotted 0.19rem;
    outline-offset: 0.19rem;
  }
}
