@use "../abstracts/" as *;

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 12px;
  padding: toRem(18px) toRem(16px);

  @include breakpoint(toRem(768px)) {
    padding: toRem(16px);
  }

  &__title {
    display: flex;
    align-items: center;
    gap: toRem(12px);
    font-size: toRem(16px);
    font-weight: 500;

    @include breakpoint(toRem(768px)) {
      font-size: toRem(18px);
    }
  }

  &__value {
    color: hsl(224, 30%, 27%);
    font-weight: 700;

    span {
      color: hsla(224, 30%, 27%, 0.5);
    }
  }

  &--danger {
    background: hsla(0, 100%, 67%, 0.065);

    .score__title {
      color: hsl(0, 100%, 67%);
    }
  }

  &--warning {
    background: hsla(39, 100%, 56%, 0.065);

    .score__title {
      color: hsl(39, 100%, 56%);
    }
  }

  &--success {
    background: hsla(166, 100%, 37%, 0.065);

    .score__title {
      color: hsl(166, 100%, 37%);
    }
  }

  &--info {
    background: hsla(234, 85%, 45%, 0.065);

    .score__title {
      color: hsl(234, 85%, 45%);
    }
  }
}
