@use "../abstracts/" as *;

.summary {
  display: grid;
  gap: toRem(24px);
  padding: toRem(24px) toRem(32px);

  @include breakpoint(toRem(768px)) {
    padding: toRem(38px) toRem(40px);
    gap: toRem(28px);
  }

  &__scores {
    display: grid;
    gap: toRem(16px);
  }

  &__title {
    color: #303b59;
  }
}
